# Laravel specific
/vendor
/node_modules
.env
.env.backup
.env.*.php
.env.php

# Storage and public
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/framework/testing/.gitkeep

# Cache and logs
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
.phpunit.result.cache
.phpactor.json
npm-debug.log
yarn-error.log
*.log

# IDE
/.idea
/.vscode
/.fleet
/.nova
/.zed

# System files
.DS_Store
Thumbs.db

# Laravel homestead
Homestead.json
Homestead.yaml
